USE [master]
GO
/****** Object:  Database [login_db]    Script Date: 26/05/2019 07:23:44 ******/
CREATE DATABASE [login_db] ON  PRIMARY 
( NAME = N'login_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\login_db.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'login_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\login_db_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [login_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [login_db]
GO
/****** Object:  Table [dbo].[login_tb]    Script Date: 26/05/2019 07:23:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login_tb](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[norekening] [varchar](50) NULL,
	[Asal] [varchar](50) NULL,
	[Kelamin] [varchar](50) NULL,
	[Agama] [varchar](50) NULL,
	[Lahir] [varchar](50) NULL,
	[Saldo] [int] NULL,
 CONSTRAINT [PK_login_tb] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
